In [1]:
from bs4 import BeautifulSoup as soup
import pandas as pd
import requests

In [65]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

In [66]:
df = tables[0]
df

,Postal code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

In [67]:
df.dropna(inplace = True)

In [68]:
df.reset_index(drop = True, inplace = True)

In [69]:
df.columns  = ['PostalCode','Borough', 'Neighborhood']

In [76]:
df

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Regent Park / Harbourfront
3,M6A,North York,Lawrence Manor / Lawrence Heights
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
98,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
102,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

In [77]:
df1 = df['Neighborhood'].apply(lambda x : x.replace('/',','))

In [79]:
type(df1)

pandas.core.series.Series

In [80]:
df1.to_frame()

                                          Neighborhood
0                                            Parkwoods
1                                     Victoria Village
2                           Regent Park , Harbourfront
3                    Lawrence Manor , Lawrence Heights
4         Queen's Park , Ontario Provincial Government
..                                                 ...
98     The Kingsway , Montgomery Road , Old Mill North
99                                Church and Wellesley
100              Business reply mail Processing CentrE
101  Old Mill South , King's Mill Park , Sunnylea ,...
102  Mimico NW , The Queensway West , South of Bloo...

[103 rows x 1 columns]

In [83]:
df.drop('Neighborhood',axis =1,inplace = True)

In [87]:
df3 = pd.concat([df,df1], axis = 1)

In [88]:
df3

,PostalCode,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo..."

In [89]:
df3.shape

(103, 3)