In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as Soup
import requests

In [2]:
URL = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
result = requests.get(URL)

In [3]:
tables = pd.read_html(result.text)

In [6]:
df=pd.DataFrame(tables[0])

In [8]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [11]:
df

,Postal code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

In [13]:
df1=df.groupby("Postal code").agg(lambda x:','.join(set(x)))

In [15]:
df1.loc[df1['Neighborhood']=="Not assigned",'Neighborhood']=df1.loc[df1['Neighborhood']=="Not assigned",'Borough']

In [16]:
df1

                 Borough                                       Neighborhood
Postal code
M1B          Scarborough                                    Malvern / Rouge
M1C          Scarborough           Rouge Hill / Port Union / Highland Creek
M1E          Scarborough                Guildwood / Morningside / West Hill
M1G          Scarborough                                             Woburn
M1H          Scarborough                                          Cedarbrae
...                  ...                                                ...
M9N                 York                                             Weston
M9P            Etobicoke                                          Westmount
M9R            Etobicoke  Kingsview Village / St. Phillips / Martin Grov...
M9V            Etobicoke  South Steeles / Silverstone / Humbergate / Jam...
M9W            Etobicoke                                          Northwest

[103 rows x 2 columns]

In [17]:
df1.shape

(103, 2)